<a href="https://colab.research.google.com/github/Anshika91/CodeClause_Intern/blob/main/Credit_Card_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importing all Dependencies
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
# loading the dataset to pandas dataframe
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [ ]:
# print rows of dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
75352,56019,-0.330203,1.265306,0.703968,0.943073,0.020692,-0.334221,0.406527,0.313829,-0.924290,...,0.222834,0.653481,-0.024697,0.123168,-0.154517,-0.303343,-0.020581,-0.017914,17.45,0.0
75353,56020,-0.824159,0.689632,0.238364,0.843827,-1.723679,2.003802,3.194546,-0.727345,-0.680086,...,-0.092779,0.491220,-0.376126,-0.768536,-0.152191,-0.255962,0.014022,-0.227837,570.00,0.0
75354,56020,0.929735,-0.299633,0.394750,0.540756,0.272645,1.656454,-0.410577,0.600046,0.184701,...,-0.038120,0.102605,0.094452,-0.985089,0.094890,0.376660,0.038140,-0.005591,44.43,0.0
75355,56021,-1.657683,-0.426294,1.687198,-1.454421,-2.383477,1.305648,0.658390,0.543973,-1.068176,...,0.166907,0.460901,-0.059376,0.079649,0.353229,-0.323458,0.023944,-0.176926,375.01,0.0
75356,56021,-1.711121,-0.369377,1.440787,0.136071,0.517265,0.196718,-0.006951,0.325528,-1.817459,...,-0.365864,-0.524456,0.085383,-0.342706,0.281718,-0.280851,NaN,NaN,NaN,NaN

In [ ]:
# dataset info
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75357 entries, 0 to 75356
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    75357 non-null  int64
 1   V1      75357 non-null  float64
 2   V2      75357 non-null  float64
 3   V3      75357 non-null  float64
 4   V4      75357 non-null  float64
 5   V5      75357 non-null  float64
 6   V6      75357 non-null  float64
 7   V7      75357 non-null  float64
 8   V8      75357 non-null  float64
 9   V9      75357 non-null  float64
 10  V10     75357 non-null  float64
 11  V11     75357 non-null  float64
 12  V12     75357 non-null  float64
 13  V13     75357 non-null  float64
 14  V14     75357 non-null  float64
 15  V15     75357 non-null  float64
 16  V16     75357 non-null  float64
 17  V17     75357 non-null  float64
 18  V18     75357 non-null  float64
 19  V19     75357 non-null  float64
 20  V20     75357 non-null  float64
 21  V21     75357 non-null  float64
 22  V22     75357 non-null  float64
 23  V23     75357 non-null  float64
 24  V24     75357 non-null  float64
 25  V25     75357 non-null  float64
 26  V26     75357 non-null  float64
 27  V27     75356 non-null  float64
 28  V28     75356 non-null  float64
 29  Amount  75356 non-null  float64
 30  Class   75356 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 17.8 MB

In [ ]:
# check missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       1
V28       1
Amount    1
Class     1
dtype: int64

This dataset is highly unbalanced
it has two type of datasets__
0.0--> represents Normal or legit Transaction 
1.0--> represents Fradulent transaction

In [ ]:
# distribution of legit transaction and fradulent transaction
credit_card_data['Class'].value_counts()

0.0    75173
1.0      183
Name: Class, dtype: int64

In [ ]:
#separating the data for analysis
legit = credit_card_data[credit_card_data.Class==0]
fraud = credit_card_data[credit_card_data.Class==1]

In [ ]:
print(legit.shape)
print(fraud.shape)

(75173, 31)
(183, 31)

In [ ]:
# statistical measure of the data
legit.Amount.describe()

count    75173.000000
mean        97.392540
std        271.227608
min          0.000000
25%          7.690000
50%         26.760000
75%         88.960000
max      19656.530000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count     183.000000
mean       95.022350
std       216.587987
min         0.000000
25%         1.000000
50%         7.580000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [ ]:
# compare values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,36121.478576,-0.236877,-0.040266,0.702575,0.153816,-0.263103,0.102849,-0.097068,0.046812,0.011383,...,0.043148,-0.031060,-0.105166,-0.037869,0.007250,0.134982,0.024809,0.000981,0.003060,97.39254
1.0,31384.775956,-6.777088,4.776050,-9.019596,5.264634,-4.957996,-2.081116,-7.090161,3.259605,-3.145232,...,0.384354,0.806585,-0.183346,-0.235990,-0.080063,0.242355,0.098315,0.588353,0.048511,95.02235

UnderSampling 
Build a sample dataset containing similler distribution of normal and fradulent transactions

In [ ]:
# fradulent transaction are 183
legit_sample = legit.sample(n=183)

concatenating two dataframes

In [ ]:
# axis 0 means rows and axis 1 means column
new_dataset = pd.concat([legit_sample,fraud],axis=0)

In [ ]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
64436,51145,1.593954,-1.041333,-1.593685,-2.524160,1.340290,2.947308,-1.047326,0.614772,-2.322846,...,-0.556379,-1.421794,0.113418,0.943166,0.499233,-0.434746,0.004902,0.009553,18.27,0.0
24864,33416,0.522177,-1.832782,0.392326,-0.931576,-1.821719,-0.810195,-0.220799,-0.102040,2.052308,...,0.336321,0.308380,-0.434993,0.446531,0.309046,0.076890,-0.034379,0.088568,391.30,0.0
31791,36518,0.874317,-1.628522,1.511458,-0.039544,-2.190055,0.163259,-1.297352,0.243773,0.479729,...,0.345207,0.843850,-0.143362,0.664703,0.209973,-0.093933,0.055528,0.062095,195.93,0.0
4161,3748,1.470728,-0.569194,-0.874832,-1.645506,1.493689,3.261824,-1.218034,0.719676,0.364338,...,-0.299871,-0.879305,0.112897,0.918178,0.370216,-0.504551,-0.013145,0.009187,6.05,0.0
65389,51561,-1.059985,0.582842,2.132856,-0.406251,0.662165,-0.114482,1.066480,0.071854,-0.208953,...,-0.038981,-0.023907,-0.340626,0.183120,0.692016,-0.610145,-0.160572,-0.183036,24.19,0.0

In [ ]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
73784,55279,-5.753852,0.577610,-6.312782,5.159401,-1.698320,-2.683286,-7.934389,2.373550,-3.073079,...,1.177852,0.175331,-1.211123,-0.446891,-0.405520,-0.165797,1.505516,0.359492,1.00,1.0
73857,55311,-6.159607,1.468713,-6.850888,5.174706,-2.986704,-1.795054,-6.545072,2.621236,-3.605870,...,1.061314,0.125737,0.589592,-0.568731,0.582825,-0.042583,0.951130,0.158996,0.83,1.0
74496,55614,-7.347955,2.397041,-7.572356,5.177819,-2.854838,-1.795239,-8.783235,0.437157,-3.740598,...,-0.175273,0.543325,-0.547955,-0.503722,-0.310933,-0.163986,1.197895,0.378187,0.83,1.0
74507,55618,-7.427924,2.948209,-8.678550,5.185303,-4.761090,-0.957095,-7.773380,0.717309,-3.682359,...,-0.299847,0.610479,0.789023,-0.564512,0.201196,-0.111225,1.144599,0.102280,130.44,1.0
74794,55760,-6.003422,-3.930731,-0.007045,1.714669,3.414667,-2.329583,-1.901512,-2.746111,0.887673,...,1.101671,-0.992494,-0.698259,0.139898,-0.205151,-0.472412,1.775378,-0.104285,311.91,1.0

In [ ]:
new_dataset['Class'].value_counts()

0.0    183
1.0    183
Name: Class, dtype: int64

In [ ]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,37734.300546,-0.344589,-0.019237,0.745907,0.172181,-0.420638,0.255267,0.302890,0.013131,-0.011960,...,-0.069172,-0.033890,-0.023163,0.010795,0.061057,0.168461,-0.005470,-0.039056,0.021329,133.291694
1.0,31384.775956,-6.777088,4.776050,-9.019596,5.264634,-4.957996,-2.081116,-7.090161,3.259605,-3.145232,...,0.384354,0.806585,-0.183346,-0.235990,-0.080063,0.242355,0.098315,0.588353,0.048511,95.022350

Spliting the data into feature and target

x= features and y= labels

In [35]:
x = new_dataset.drop(columns='Class',axis=1)
y = new_dataset['Class']

In [36]:
print(x)

        Time        V1        V2        V3        V4        V5        V6  \
64436  51145  1.593954 -1.041333 -1.593685 -2.524160  1.340290  2.947308
24864  33416  0.522177 -1.832782  0.392326 -0.931576 -1.821719 -0.810195
31791  36518  0.874317 -1.628522  1.511458 -0.039544 -2.190055  0.163259
4161    3748  1.470728 -0.569194 -0.874832 -1.645506  1.493689  3.261824
65389  51561 -1.059985  0.582842  2.132856 -0.406251  0.662165 -0.114482
...      ...       ...       ...       ...       ...       ...       ...
73784  55279 -5.753852  0.577610 -6.312782  5.159401 -1.698320 -2.683286
73857  55311 -6.159607  1.468713 -6.850888  5.174706 -2.986704 -1.795054
74496  55614 -7.347955  2.397041 -7.572356  5.177819 -2.854838 -1.795239
74507  55618 -7.427924  2.948209 -8.678550  5.185303 -4.761090 -0.957095
74794  55760 -6.003422 -3.930731 -0.007045  1.714669  3.414667 -2.329583

             V7        V8        V9  ...       V20       V21       V22  \
64436 -1.047326  0.614772 -2.322846  ... -0.206487 -0.556379 -1.421794
24864 -0.220799 -0.102040  2.052308  ...  0.641257  0.336321  0.308380
31791 -1.297352  0.243773  0.479729  ...  0.354530  0.345207  0.843850
4161  -1.218034  0.719676  0.364338  ...  0.148922 -0.299871 -0.879305
65389  1.066480  0.071854 -0.208953  ... -0.246856 -0.038981 -0.023907
...         ...       ...       ...  ...       ...       ...       ...
73784 -7.934389  2.373550 -3.073079  ...  0.017500  1.177852  0.175331
73857 -6.545072  2.621236 -3.605870  ... -0.289830  1.061314  0.125737
74496 -8.783235  0.437157 -3.740598  ...  0.073164 -0.175273  0.543325
74507 -7.773380  0.717309 -3.682359  ... -0.123085 -0.299847  0.610479
74794 -1.901512 -2.746111  0.887673  ... -4.128186  1.101671 -0.992494

            V23       V24       V25       V26       V27       V28  Amount
64436  0.113418  0.943166  0.499233 -0.434746  0.004902  0.009553   18.27
24864 -0.434993  0.446531  0.309046  0.076890 -0.034379  0.088568  391.30
31791 -0.143362  0.664703  0.209973 -0.093933  0.055528  0.062095  195.93
4161   0.112897  0.918178  0.370216 -0.504551 -0.013145  0.009187    6.05
65389 -0.340626  0.183120  0.692016 -0.610145 -0.160572 -0.183036   24.19
...         ...       ...       ...       ...       ...       ...     ...
73784 -1.211123 -0.446891 -0.405520 -0.165797  1.505516  0.359492    1.00
73857  0.589592 -0.568731  0.582825 -0.042583  0.951130  0.158996    0.83
74496 -0.547955 -0.503722 -0.310933 -0.163986  1.197895  0.378187    0.83
74507  0.789023 -0.564512  0.201196 -0.111225  1.144599  0.102280  130.44
74794 -0.698259  0.139898 -0.205151 -0.472412  1.775378 -0.104285  311.91

[366 rows x 30 columns]

In [37]:
print(y)

64436    0.0
24864    0.0
31791    0.0
4161     0.0
65389    0.0
        ...
73784    1.0
73857    1.0
74496    1.0
74507    1.0
74794    1.0
Name: Class, Length: 366, dtype: float64

Split the data into training data and testing data

In [38]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, stratify=y, random_state=2)

In [39]:
print(x.shape, x_train.shape, x_test.shape)

(366, 30) (292, 30) (74, 30)

Model Training

by Logistic Regression

In [40]:
model = LogisticRegression()

In [ ]:
#training the logistic regression model by traing data
model.fit(x_train, y_train)

Model Evaluation and accuracy score

In [42]:
# accuracy on training data
x_train_prediction = model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction,y_train)

In [43]:
print('Training_data Accuracy:', training_data_accuracy)

Training_data Accuracy: 0.9623287671232876

In [44]:
# accuracy on training data
x_test_prediction = model.predict(x_test)
testing_data_accuracy = accuracy_score(x_test_prediction,y_test)

In [45]:
print('Testing_data Accuracy:', testing_data_accuracy)

Testing_data Accuracy: 0.9459459459459459